<mat-card class="main" data-aos="fade-up">
  <mat-card-title>Station x</mat-card-title>
  <mat-card-subtitle>
    <mat-icon class="locationIcon">location_on</mat-icon>Location
  </mat-card-subtitle>
  <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt minima id, placeat reiciendis iste
    assumenda fuga repudiandae, laudantium cupiditate, quo nesciunt vitae pariatur laborum eveniet mollitia
    reprehenderit natus quibusdam alias!</mat-card-content>
  <div class="row">
    <div class="col-4">
      <h4 class="open" *ngIf="open">Open :)</h4>
      <h4 class="closed" *ngIf="!open">Closed :(</h4>
    </div>
    <div class="col-8">
      <mat-card-actions>
        <button mat-raised-button (click)="openDialog()">Update Status</button>
      </mat-card-actions>
    </div>
  </div>


</mat-card>
