<app-banner></app-banner>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="All">
        <ul class="list">
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>

        </ul>
    </mat-tab>
    <mat-tab label="Open">
        <ul class="list">
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>
            <li>
                <app-item-card></app-item-card>
            </li>

        </ul>
    </mat-tab>
    <mat-tab label="Closed">
        <ul class="list">
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>
            <li>
                <app-item-card [open]="false"></app-item-card>
            </li>

        </ul>
    </mat-tab>
</mat-tab-group>
<div class="map" data-aos="fade-up">
    <google-map width="100%"></google-map>

</div>