.list {
    list-style: none;
    padding: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 30rem; */
    overflow: hidden;
    /* scrollbar-width: 0.5rem;
    -ms-overflow-style: none; */
    /* IE and Edge */
    /* Firefox */
}


/* .spacer {
    height: 20rem;
} */


/* Hide scrollbar for Chrome, Safari and Opera */


/* width */

.list::-webkit-scrollbar {
    width: 10px;
}


/* Track */

.list::-webkit-scrollbar-track {
    background: rgb(116, 116, 116);
    border-radius: 10px;
}


/* Handle */

.list::-webkit-scrollbar-thumb {
    background: #555;
    transition: 600ms;
    border-radius: 10px;
}


/* Handle on hover */

.list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list li {
    width: 49%;
    padding-bottom: 0.5rem;
    color: rgb(70, 68, 68);
}

@media only screen and (max-width: 1000px) {
    .list li {
        width: 98%;
        padding-bottom: 0.5rem;
        color: rgb(70, 68, 68);
    }
}